html, body {
	width: 100%;
		margin: 0;
		padding: 0; 
}

.navbar ul {
	display: inline-block;
	width: 100%;
	list-style-type: none;
	margin: 0;
	padding: 0;
	background-color: #333;
}

.navbar ul li{
	display: inline-block;
    height: 60px;
	color: white;
	text-align: center;
	text-decoration: none;
	font: 20px Oldtown; 
    background: #333;
    border-right: 1px solid #fff;
	width: calc(25% - 1px);
	margin: 0;
	padding: 0;
	transition: 0.1s background-color;
}


.navbar ul li:hover {
	background-color: #ff9100; 
}

.navbar ul li a{
	text-decoration: none;
	color: #fff;
}

.section_block {
	text-align: center; 
	width: 75%;
	margin: 50px auto;
	padding-top: 0px;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 20px;
	background-color: #37474F;
}

.section_block ul {
	text-align: center;
	margin: 20px auto;
	display: inline-block;
}

.section_block ul a{ 
	display: block;
	text-decoration: none;
	margin: auto;
	font-family: 'Oxygen Mono', monospace;
	color: #fff;
	transition: 0.1s color;
}

.section_block ul a:hover{ 
	color: #ff6d00;
}

.section_block ul li{
	padding-left: 20px;
	padding-right: 20px;
	margin: 0 auto;
	display: inline-block;
}

.display_window {
	width: 75%;
	margin: 50px auto;
	padding-top: calc(10px + 5%);
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: calc(10px + 5%);
	background-color: #37474F;
	text-align: center;
}

.display_window .left_display {
	margin: 0 auto;
	display: inline-block;
	overflow: hidden;
}

.display_window .right_display {
	margin: 0 auto;
	display: inline-block;
	overflow: hidden;
}


.display_window canvas {
	display: block;
}

h1 {
	font-family: 'Righteous', cursive;
	font: 50px Righteous;
	text-align: center;
	color: #ff6d00;
}

p {
	font-family: 'Oxygen Mono', monospace;
	text-align: left;
	color: #bdbdbd;
}