html, body {
	width: 100%;
		margin: 0;
		padding: 0; 
}

.navbar ul {
	display: inline-block
	width: 100%;
	list-style-type: none;
	margin: 0;
	padding: 0;
	background-color: #333;
}

.navbar ul li{
	display: inline-block;
    height: 60px;
	color: white;
	text-align: center;
	text-decoration: none;
	font: 20px Oldtown; 
    background: #333;
    border-right: 1px solid #fff;
	width: calc(25% - 1px);
	margin: 0;
	padding: 0;
	transition: 0.1s background-color;
}


.navbar ul li:hover {
	background-color: #ff9100; 
}

.navbar ul li a{
	text-decoration:none;
	color: #fff;
}

.section_block {
	width: 75%;
	margin: 50px auto;
	padding-top: 0px;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 20px;
	background-color: #37474F
}

.section_block ul {
	margin: 20px;
	display: inline-block;
}

.section_block ul a{ 
	display: inline-block;
}

.section_block ul a li{
	padding-left: 20px;
	padding-right: 20px;
	display: inline-block;
}
h1 {
	font-family: 'Righteous', cursive;
	font: 50px Righteous;
	text-align: center;
	color: #ff6d00
}

p {
	font-family: 'Oxygen Mono', monospace;
	color: #bdbdbd
}

.slideshow {
	width = 60%;
	position: relative;
	margin: auto;
}

.slides {
	display: none;
}

.prev, .next {
	cursor: pointer;
	position: absolute;
	top: 50%;
	width: auto;
	margin-top: -22px;
	padding: 16px;
	color: white;
	font-weight: bold;
	font-size: 18px;
	transition: 0.6s ease;
	border-radius: 0 3px 3px 0;
}

.next {
	right: 0;
	border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
	background-color: rgba(0,0,0,0.8);
}

.slideshow text {
	color: #f2f2f2;
	font-size: 15px;
	padding: 8px 12px;
	position: absolute;
	bottom: 8px;
	width: 100%;
	text-align: center;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}